*{
    margin: 0;
    padding: 0;
}
#head{
    background-color: blue;
    height: 308px;
    width: 100%;
    position: relative;

}

h1{
    font-family: 'Helvetica Neue Bold';
    font-size: 32px;
    color: white;
    position: absolute;
    top: 70px;
    left: 240px;
}
#body{
    position: relative;
    display: inline-flex;
    width: 100%;
    top: -70px;
}

.relative{
    position: relative;
    height: 490px;
    margin: 0 auto;
    right: -100px;
}
#wrap{
    overflow: hidden;
    right: 0;
}
#last_div{
    margin-left: 35px;
}
#top_div{
    top: -100px;
}

#first_div, #third_div, #fourth_div{
    bottom: 100px;
    border-radius: 12px;
    padding: 30px 60px 30px 30px;
    position: absolute;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(5px);
    width: fit-content;
    font-family: 'Helvetica Neue';
}
#fourth_div{
    width: 480px;

}
#second_div{
    border-radius: 12px;
    padding: 30px 60px 30px 30px;
    position: absolute;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(5px);
    width: 373px;
    left: 45px;
    bottom: 60px;
     font-family: 'Helvetica Neue';
}

