*{
    margin: 0;
    padding: 0;
}
#head{
    background-color: blue;
    height: 308px;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    position: relative;

}

h1{
    font-family: 'Helvetica Neue Bold';
    font-size: 32px;
    color: white;
    position: absolute;
    top: 70px;
    left: 240px;
}

.relative{
    position: relative;
    display: inline-block;
    height: 490px;
    width: 100%;
    margin: 0 auto;
}
 .img1{
width: 463px;
height: 420px;
position: absolute;
top: -100px;
left: 240px;
}
.p1 {
    display: inline-block;
    width: 339px;
    backdrop-filter: blur(5px);
    background: #FFFFFF;
    padding: 30px 74px 30px 30px;
     position: absolute;
     bottom:190px;
     left: 250px;
}

 .img2{
width: 463px;
height: 420px;
position: absolute;
top: -150px;
left: 728px;
}
.p2 {
    display: inline-block;
    width: 339px;
    backdrop-filter: blur(5px);
    background: rgba(255,255,255,0.4);
    padding: 30px 74px 30px 30px;
     position: absolute;
     bottom:250px;
     left: 740px;
}

 .img3{
width: 463px;
height: 420px;
position: absolute;
top: -100px;
left: 1216px;
}
.p3 {
    display: inline-block;
    width: 339px;
    backdrop-filter: blur(5px);
    background: #FFFFFF;
    padding: 30px 74px 30px 30px;
     position: absolute;
     bottom:190px;
     left: 1225px;
 }

  .img4{
width: 463px;
height: 420px;
position: absolute;
top: -100px;
right: 100px;
}
.p4 {
    display: inline-block;
    width: 339px;
    backdrop-filter: blur(5px);
    background: rgba(255,255,255,0.4);
    padding: 30px 74px 30px 30px;
     position: absolute;
     bottom:190px;
     right: 110px;
 }